<div class="mt-4">
    <h3>Đăng ký thành viên</h3>
    <form method="post" action="/user/store">
        <div class="form-group">
            <label for="name">Tên đăng nhập</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group" >
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="text" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="level">Cấp bậc</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Thêm thành viên</button>
    </form>
</div>